################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Artifacto.Common/obj
/Artifacto.DbGateway/obj
/Artifacto.Storage/obj
/Artifacto.Model/obj
